<%- include("partials/header"); -%>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="postTitle" class="form-control" autocomplete="off">
            <label>Post</label>
            <textarea name="postBody" id="editor" cols="30" rows="5" class="form-control"></textarea>
            <label>Enter YouTube Video Link</label>
            <input type="text" name="postLink" autocomplete="off" value="https://www.youtube.com/embed/" size="50" class="youtube">
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>



    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector("#editor")).catch(err => {
            console.error(err);
        });
        var objEditor = CKEDITOR.instances["sectionTextArea"];
        var q = objEditor.getData();
        console.log(q);
    </script> -->
    <%- include("partials/footer"); -%>